--extra-index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.nvidia.com

torch==2.5.1+cu121
torchvision==0.20.1+cu121
ultralytics==8.4.71
tensorrt-cu12==10.13.3.9
onnx==1.22.0
onnxslim==0.1.94
onnxruntime-gpu==1.23.2
typeguard==4.5.2
transformers==4.57.1
safetensors==0.8.0
huggingface-hub==0.36.2
